<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Suite" parallel="tests" thread-count="3">

    <!-- 🔹 Listeners must be inside <suite> -->
    <listeners>
        <listener class-name="com.yash.automationFramework.listeners.TestListener"/>
    </listeners>

    <test name="Login">
        <classes>
            <!-- 🔹 Correct package name -->
            <class name="com.yash.automationFramework.tests.LoginTest"/>
        </classes>
    </test>

</suite>
